.main {
	width: 80%;
	margin: 0 auto;
}

.header p {
	color: grey;
	font-size: 20px;
	margin: 10px;
	text-shadow: 0.8px -0.5px 0.5px #a9a9a9;	
}

.header li {
	display: inline-block;
	background: #ddd;
	padding: 1.5% 2%;
	border-right: 1px solid #bfbfbf;
	width: calc(100% / 6 - 5%);
	color: grey;
	text-align: center;
}

.header li:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.header li:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-right: 0;
}

.header a {
	text-decoration: none;
	color: #797979;
}

.header li:hover {
	background-color: #bfbfbf;
}

.marketing {
	text-align: center;
	margin: 10px;
	padding: 30px;
}

.marketing button {
	border-radius: 5px;
	padding: 10px 20px;
	color: white;
	background: green;
	border: none;
}

.subheading {
	display: block;
}

.subheading button {
	border-radius: 5px;
	padding: 10px 20px;
	color: white;
	background: rgba(0, 77, 255, 0.81);
	border: none;
}

.subheading span {
	color: red;
}

.sub {
	display: inline-block;
	width: 29%;
	vertical-align: top;
	padding: 20px 0;
	margin: 0 20px;
}

.footer {
	font-size: 12px;
	position: relative;
	bottom: 3px;
}